\#*\#
/docs/*.pdf
/latex/**/*.aux
/latex/**/*.bbl
/latex/**/*.blg
/latex/**/*.fdb_latexmk
/latex/**/*.fls
/latex/**/*.log
/latex/cholesky/cholesky.pdf
/latex/main/main.pdf
/latex/setup/setup.pdf
/latex/variogram/setup.pdf
/python/input_params.json
/python/build/
/python/dist/
/python/norce.egg-info/
/vesa_case_dir/REFHT.IN
/python/norce/__pycache__/*